torch==2.0.1+cpu -f https://download.pytorch.org/whl/torch_stable.html
-f https://download.pytorch.org/whl/torch_stable.html
streamlit
langchain
sentence-transformers
# Add any other required packages here
